body {
	font: 11px/1.35 Arial, Helvetica, sans-serif;
	color: #3e3e3e;
	text-align: center;
	/**background: url('../images/bg_Body.gif') #fff;**/
}

.banner {
	position: relative;

}

.banner-callout {
	position: relative;
	top: 20px;
	color:#1E90FF;
	font-style:italic;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	position: relative;
	float: right;
	right: 30%;
	/* top: 0; */
}

.banner-shopnow {
	background-color:#800101;
	font-size: 18px;
	text-align: center;
	color:white;
	font-family: Arial, Helvetica, sans-serif;

}