.body-eh {
	font-family: Arial, Helvetica, sans-serif;

}

.main-container-eh {
	position: relative;
	width: 990px;
	min-height: 1050px;
	/*padding-left: 25%;*/
}

.banner-eh {
	position: relative;
	width: 930px;
	height: 40px;
	top: 20px;
	left: 28px;
}

.banner-callout-eh {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	color: #1E90FF;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

button.shop-button-eh {
	background-color: #800101;
	border-radius: 40%;
	min-height: 28px;
	min-width: 131px;
	border: none;
}

#shop-now-eh {
	position: absolute;
	display: inline;
	right: 0;
	top: 1px;
}

.section-eh {
	position: relative;
	width: 990px;
	min-height: 800px;
	text-align: center;
}

.upper-fold-eh {
	top: 18px;
}

img.hero-img-eh {
	position: relative;
	width: 100%;
}

img.ms-logo-eh {
	position: absolute;
	top: -20px;
	display: block;
	left: 0;
}

.hero-text-eh {
	position: absolute;
	width: 360px;
	height: 360px;
	top: 0;
	text-align: center;
	left: 375px;
	color: white;
}

h2.headline-eh {
	position: absolute;
	top: 10px;
	font-size: 24px;
	height: 30px;
	width: 100%;
}

h3.paragraphs-eh {
	font-size: 13px;
	position: absolute;
	top: 38px;
}

.break-eh {
	height: 5px;
}

button.shopall-button-eh {
	position: absolute;
	bottom: 107px;
	left: 107px;
	background-color: #00CED1;
	border-radius: 40%;
	min-height: 32px;
	min-width: 140px;
	border: 2px solid #1E90FF;
}

.shopnow-eh {
	color: white;	
	text-decoration: none;
}

.size-links-container-eh {
	position: absolute;
	height: 793px;
	width: 212px;
	/* text-align: center; */
	top: 0;
	display: inline-block;
	vertical-align: middle;
	right: 0;
}

.size-links-eh {
	border: 1px solid white;
	background-color: #DCDCDC;
	opacity: 0.8;
	height: 150px;
	width: 100%;
}

.size-links-eh>p>a {
	position: relative;
	top: 64px;
	font-size:24px;
	text-decoration: none;
	color:#2F4F4F;
}


.kicker-one-eh {
	position: relative;
	height: 220px;
	width: 100%;
	background-color: #AFEEEE;
	/* text-align: center; */
	bottom: 182px;
}

.kicker-two-eh {
	position: relative;
	height: 160px;
	width: 100%;
	background: radial-gradient(#0671DA, rgba(132, 174, 229, 0.88));
	/* text-align: center; */
	bottom: 182px;
	color: white;
}

.ss-logo-eh {
	position: absolute;
	left: 25px;
	top: 20px;
}

p.ss-text-eh {
	position: absolute;
	width: 276px;
	top: 100px;
	text-align: left;
	left: 25px;
	font-size: 14px;
}

a.ss-shop-link-eh {
	position: absolute;
	font-size: 16px;
	bottom: 28px;
	left: 40px;
	color: #008B8B;
	font-weight: bold;
	text-decoration: none;
}

.ss-container-one-eh {
	position: absolute;
	width: 30%;
	height: 100%;
	left: 400px;
	top: 15px;
}

.ss-container-two-eh {
	position: absolute;
	width: 30%;
	/* display: inline; */
	height: 100%;
	top: 15px;
	right: 0;
}

a {
	text-decoration: none;
}

.ss-eh {
	position: absolute;
	background-color: black;
	width: 28px;
	height: 20px;
	/* text-align: center; */
	color: #AFEEEE;
}

.ab-eh, .ac-eh, .el-eh, .et-eh, .mb-eh, .mk-eh, .mt-eh, .mw-eh, .sb-eh, .sh-eh, .tc-eh {
	color: black;
}

.ss-links-eh {
	position: relative;
	height: 33px;
	/* width: 410px; */
	text-align: left;
	left: 36px;
}

p.ss-codes-eh {
	top: 4px;
	position: relative;
	/* font-weight: bold; */
	font-size: 12px;
	font-family: "Arial Narrow", Arial, sans-serif;
}

a.more-deets-eh {
	position: absolute;
	left: 0;
	color: #008B8B;
	font-weight: bold;
	bottom: 39px;
}

.rlm-img-eh {
	position: absolute;
	left: 12px;
}

.rlm-content-eh {
	position: absolute;
	width: 590px;
	right: 144px;
	top: 10px
}

.rlm-headline-eh {
	font-family: "Times New Roman", serif;
	font-size: 44px;
}

.rlmtext-one-eh {
	font-family: "Times New Roman", serif;
	font-size: 30px;
	position: relative;
	top: 5px;
}

.rlmtext-two-eh {
	position: relative;
	top: 19px;
	font-size: 15px;
}

.rlm-arrow-eh {
	position: absolute;
	right: -64px;
	top: 29px;
	font-size: 85px;
}

.rlm-arrow-eh>a {
	color: #8B0000;
}