body {
	font: 11px/1.35 Arial, Helvetica, sans-serif;
	color: #3e3e3e;
	text-align: center;
}

.banner {
	position: absolute;
	left: 24%;
	min-width:300px;

}

.banner-callout {
	position: relative;
	top: 34px;
	color:#1E90FF;
	font-style:italic;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

form {
	position: relative;
	float: right;
	left: 20%;
	/* top: 0; */
}

.shop-button {
	background-color: #800101;
	border-radius: 40%;
	min-height: 28px;
	min-width: 131px;
	border: none;
}

.shopnow {
	font-size: 14px;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;

}

.main-img {
	background-image: url("../img/main-img-no-logo.jpg");
	min-height: 1010px;
	background-repeat: no-repeat;
	min-width: 50%;
	position: relative;
	top: 100px;
	margin-left: 23%;
}

.headline {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 4px;
	left: 321px;
	font-size: 24px;

}

.paragraphs {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 38px;
	font-size: 12px;
	width: 360px;
	left: 320px;
}

.break {
	min-height:12px;
}

.shopall-button {
	background-color: #00CED1;
	border-radius: 40%;
	min-height: 32px;
	min-width: 140px;
	border: 2px solid #1E90FF;
	position: relative;
	top: 244px;
	right: 270px;
}

img.ms-logo {
	float:left;
	height:140px;
	display:in
}

