body {
	font-family: Arial, Helvetica, sans-serif;

}

.main-container {
	position: relative;
	width: 1200px;
	min-height: 1100px;
	padding-left: 25%;
}

.banner {
	position: relative;
	width: 900px;
	height: 40px;
	top: 20px;
	left: 32px;
}

.banner-callout {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	color: #1E90FF;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

#shop-now {
	position: absolute;
	display: inline;
	right: 0;
	top: 4px;
}

section {
	position: relative;
	width: 990px;
	min-height: 800px;
	text-align: center;
}

.upper-fold {
	top: 18px;
}

img.ms-logo {
	position: absolute;
	top: -20px;
	display: block;
	left: 0;
}

h2.headline {
	position: absolute;
	top: 0;
}